@charset "UTF-8";

.playfair-display-sc-regular {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
}

.playfair-display-sc-bold {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
}

.playfair-display-sc-black {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: normal;
}

.playfair-display-sc-regular-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: italic;
}

.playfair-display-sc-bold-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: italic;
}

.playfair-display-sc-black-italic {
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    font-style: italic;
}

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}




:root {
    --font01: "Playfair Display SC";
    --font02: "Rubik";
    --font03: "Kanit";
    --font04: "Ubuntu";
    --font05: "Karla";

    --cor01: #E08810;
    --cor02: #6E1E0C;
    --cor03: #44366D;
    --cor04: #112A41;
    --cor05: #F74614;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

#menu {
    display: flex;
    background-color: hsla(209, 59%, 16%, 0.3);
    border: 3px solid var(--cor02);
    height: 60px;
    width: 80%;
    border-radius: 0px 0px 10px 10px;
    justify-content: start;
    justify-self: center;
    align-items: center;
    position: relative;
    z-index: 1000;
}

#menu>a>img#barra {
    height: 50px;
    width: 50px;
}

#menu>a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5em;
    font-family: var(--font02);
    color: var(--cor05);

}

#intro {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px;
    grid-template-rows: 250px 80px 80px 400px;
    position: relative;
    width: 100%;
}

#intro img {
    grid-area: 1/ 1 / 5 /5;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-size: cover;
    z-index: 0;

}

h1, h2 {
    color: white;
    position: relative;

}

h3 {
    justify-self: center;
    /* font-family: var(--font0); */
    font-size: 2em;
    color: var(--cor02);
}


#filme {
    grid-area: 2 / 2 / 3/ 3;
    font-size: 4em;
    text-shadow: 2px 4px 10px #E08810;
    justify-self: end;

}

#autor {
    grid-area: 3 / 2 / 4 / 3;
    font-size: 3em;
    text-shadow: 2px 4px 3px #E08810;
    justify-self: end;
    margin-right: 20px;
}

#meio img {
    display: block;
    margin: auto;
}


article .painel {
    padding-top: 100px;
}

.titulo {
    padding-top: 200px;
    display: flex;
    justify-self: center;

    font-weight: bold;
    font-size: 3em;
    font-family: var(--font01);
    background: linear-gradient(to right, #E08810, #6E1E0C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quadrado {
    margin-top: 200px;
    background-color: black;
    justify-self: center;
    width: 70%;
    height: 400px;
    border: 3px solid var(--cor05);
    border-radius: 10px;
}

.tituloquadrado {
    background-color: black;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border-bottom: 3px solid var(--cor05);
    align-content: center;
}

#ultimo {
    margin-top: 100px
}

#gridfinal {
    display: grid;
    grid-template-columns: 1fr 300px 20px 300px 20px 300px 1fr;
    grid-template-rows: 100px 300px 20px 300px 20px 300px 100px;
}

.fundoquadrado {
    background-color: black;
    border: 3px solid var(--cor05);
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--cor01);
    align-content: flex-end;
}

.rodapequadrado {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border-top: 3px solid var(--cor05);
    box-shadow: 1px 1px 10px var(--cor01);
}

#f1 {
    grid-area: 2/ 2 / 3 /3;
}

#f2 {
    grid-area: 2/ 4 / 3 /5;
}

#f3 {
    grid-area: 2/ 6 / 3 /7;
}

#f4 {
    grid-area: 4/ 2 / 5 / 3;
}

#f5 {
    grid-area: 4 / 4 / 5 / 5;
}

#f6 {
    grid-area: 4 / 6 / 5 / 7;
}

#f7 {
    grid-area: 6 / 2 / 7 / 3;
}

#f8 {
    grid-area: 6 / 4 / 7 / 5;
}

#f9 {
    grid-area: 6 / 6 / 7 / 7;
}






@media screen and (min-width:768px) and (max-width:1028px) {

    #intro {
        display: grid;
        grid-template-columns: 20px 1fr 1fr 20px;
        grid-template-rows: 80px 80px 80px 270px;
        position: relative;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    #intro img {
        grid-area: 1/ 1 / 5 /5;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-size: cover;
        z-index: 0;

    }

    #filme {
        grid-area: 2 / 2 / 3/ 3;
        font-size: 1.6em;
        text-shadow: 2px 4px 10px #E08810;
        justify-self: end;
        align-self: self-end;

    }

    #autor {
        grid-area: 3 / 2 / 4 / 3;
        font-size: 1.2em;
        text-shadow: 2px 4px 3px #E08810;
        justify-self: end;
        margin-right: 20px;
    }

    .titulo {
        background-size: cover;
    }

    #gridfinal {
        display: grid;
        grid-template-columns: 1fr 90% 1fr;
        grid-template-rows: 100px 300px 20px 300px 20px 300px 20px 300px 20px 300px 20px 300px 20px 300px 20px 300px 20px 300px 100px;
    }

    #f1 {
        grid-area: 2/ 2 / 3 / 3 ;
    }

    #f2 {
        grid-area: 4/ 2 / 5 / 3 ;
    }

    #f3 {
        grid-area: 6/ 2 / 7 / 3 ;
    }

    #f4 {
        grid-area: 8/ 2 / 9 / 3;
    }

    #f5 {
        grid-area: 10 / 2 / 11 / 3;
    }

    #f6 {
        grid-area: 12 / 2 / 13 / 3;
    }

    #f7 {
        grid-area: 14 / 2 / 15 / 3;
    }

    #f8 {
        grid-area: 16 / 2 / 17 / 3;
    }

    #f9 {
        grid-area: 18 / 2 / 19 / 3;
    }


}